{% extends 'layouts/base.html' %}

{% block body %}
This my content
{% endblock %}

{% block test %}

<h1> My name is Noha </h1>
  {% endblock %}


{% block content %}
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{student.name}}</h5>
    <p class="card-text">{{student.grade}}</p>
    <a href="{% url 'students.home' %}" class="btn btn-primary">Back to all students </a>
  </div>
</div>
{% endblock %}